//-------------------------------------------------------
//- Modules :: Input
//-------------------------------------------------------

mixin avatar({altName, imgSrc, className})
  img(src= imgSrc, alt= altName, class= className)
